#StartAnalysisBtn {
  background-color: forestgreen;
  border-color: forestgreen;
  color: #FFFFFF;
  font-family: 'Roboto Slab', serif;
}

#ProceedToInput {
  color: #FFFFFF;
  font-family: 'Roboto Slab', serif;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-size: 250%;
  font-weight: 900;
}

.container-fluid {
  height: 100%;
}

.min-100 {
  min-height: 100%;
}

.bio{
  text-align: center;
}

.column {
  float: left;
  width: 25%;
}

.column_profiles {
  float: left;
  width: 33.33%;
  padding-bottom: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.profiles {
  padding: 5%;
  object-fit: contain;
  width: 160px;
  height: 160px;
}

h2 {
  font-family: 'Roboto Slab', serif;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

img {
  padding: 10%;
  vertical-align: top;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

video {
  padding: 10%;
  vertical-align: top;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}