<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sentiment Analysis - About</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='ui/css/about.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.js"></script>
</head>

<body>
    <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="index.html">Sentiment Analysis</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
              
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                          <a class="nav-link my-2 my-sm-0" href="import.html">Input</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link my-2 my-sm-0" href="login.html">Log In</a>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="window.location.href = 'signup.html';">Sign up</button>
                      </form>
                    </div>
                  </nav>
    </header>
    <div id="fullpage">
        <div class="section">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col min-100">
                              <h2>Make sense of data.</h2>
                              <h3 style="padding-bottom: 10px;">Sentiment Analysis can transform raw textual data into meaningful
                              information.</h3>
                              <button type="button" class="btn btn-link" id="StartAnalysisBtn" onclick="window.location.href = 'import.html';">Start Your Analysis</button>
                          </div>
                          <div class="col min-100">
                          </div>
                        </div>
                      </div>
        </div>
        <div class="section">
                <div class="container-fluid">
                        <div class="row">
                          <div class="col min-100">
                              <h2>Four Easy Steps</h2>
                              <h3 style="padding-bottom: 10px;">Bring your data.  Import your data.  Wait for your data to process.  Consume your report.</h3>
                              <div class="row">
                                    <div class="column">
                                        <img src="{{ url_for('static', filename='ui/assets/images/Step1.jpg') }}">
                                    </div>
                                    <div class="column">
                                        <img src="{{ url_for('static', filename='ui/assets/images/Step2.jpg') }}">
                                    </div>
                                    <div class="column">
                                        <img src="{{ url_for('static', filename='ui/assets/images/Step3.jpg') }}">
                                    </div>
                                    <div class="column">
                                        <img src="{{ url_for('static', filename='ui/assets/images/Step4.jpg') }}">
                                    </div>
                                </div>
                          </div>
                          <div class="col min-100">
                            </div>
                        </div>
                      </div>
        </div>
        <div class="section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col min-100">
                            <h2>Watch it in Action</h2>
                            <h3 style="padding-bottom: 10px;">Watch how easy it's to conduct sentiment analysis and NLP in this quick demo video.</h3>
                        </div>
                        <div class="col min-100">
                            <video controls>
                                <source src="{{ url_for('static', filename='ui/assets/videos/ThumbnailVid.mp4') }}" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
        </div>
        <div class="section">
                <div class="container-fluid">
                        <div class="row">
                            <div class="col min-100">
                                <h2>The Team</h2>
                                <h3 style="padding-bottom: 10px;">Meet the computer scientists driving the project forward.</h3>
                            </div>
                            <div class="col min-100">
                            </div>
                        </div>
                        <div class="row">
                                <div class="col min-60">
                                    <center><img class="profiles" src="{{ url_for('static', filename='ui/assets/images/ProfilesMK.png') }}"></center>
                                    <p class="bio">Manisha Kumari</p>
                                    <p style="text-align: center;">Occupation</p>
                                </div>
                                <div class="col min-60">
                                        <center><img class="profiles" src="{{ url_for('static', filename='ui/assets/images/ProfilesMM.png') }}"></center>
                                    <p class="bio">Matthew E. Miller</p>
                                    <p style="text-align: center;">Principal Software Developer</p>
                                </div>
                                <div class="col min-60">
                                        <center><img class="profiles" src="{{ url_for('static', filename='ui/assets/images/ProfilesLR.png') }}"></center>
                                    <p class="bio">Lucki Ratsavong</p>
                                    <p style="text-align: center;">Occupation</p>
                                </div>
                        </div>
                </div>
        </div>
        <div class="section">
                <div class="container-fluid">
                <div class="row">
                        <div class="col min-100">
                            <h2>Proceed to Data Import</h2>
                            <h3>It's fun, safe, and free.</h3>
                        </div>
                        <div class="col min-100">
                        </div>
                </div>
                <div class="row align-items-center">
                        <div class="col min-100"></div>
                        <div class="col min-100">
                            <form>
                            <center><button type="button" class="btn btn-primary" id="ProceedToInput" onclick="window.location.href = 'import.html';">Start Importing</button></center>
                            </form>    
                        </div>
                            <div class="col min-100"></div>
                </div>
                </div>
        </div>
    </div>
    <script>
        new fullpage('#fullpage', {
            //options here
            autoScrolling: true,
            scrollHorizontally: true,
            sectionsColor: ['#f2f2f2', 	'#1E90FF', '#DC143C', '#228B22', '#FFD700'],
            paddingTop: '120px'
        });

        //methods
        fullpage_api.setAllowScrolling(false);
    </script>
</body>

</html>