<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sentiment Analysis - Contact</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <header>
        <!-- Navigation Bar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('about') }}">Sentiment Analysis</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navigation Bar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link my-2 my-sm-0" href="{{ url_for('upload') }}">Upload CSV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link my-2 my-sm-0" href="{{ url_for('results') }}">Results</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link my-2 my-sm-0" href="{{ url_for('pricing') }}">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link my-2 my-sm-0" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link my-2 my-sm-0" href="{{ url_for('login') }}">Log In</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="{{ url_for('signup') }}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
                </form>
            </div>
        </nav>
    </header>
    <div id="fullpage">
        <!--Section: Contact v.2-->
<div class="section">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-3">Contact us</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-2">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
            a matter of hours to help you.</p>
    
        <div class="row">
            <div class="col min-100"></div>
                <div class="col min-100">
                        <form id="contactForm">
                                <div class="form-group">
                                        <label for="exampleInputName">Your Name</label>
                                        <input type="email" class="form-control" id="exampleInputName"
                                            aria-describedby="nameHelp" placeholder="Your Name">
                                    </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Your Email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputSubject">Subject</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                               
                            </div>
                            <button type="submit" id="SubmitBtn" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="col min-100"></div>
                </div>
        </div>
    
    </div>
    <!--Section: Contact v.2-->
    <!-- Scripts - At Bottom of page so they load after DOM-elements -->
    <div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.js"></script>
        <script>
            new fullpage('#fullpage', {
                //options here
                autoScrolling: true,
                scrollHorizontally: true,
                sectionsColor: ['#f2f2f2', '#1E90FF', '#DC143C', '#228B22', '#FFD700'],
                paddingTop: '120px'
            });

            //methods
            fullpage_api.setAllowScrolling(false);
        </script>
    </div>

</body>

</html>